body {
    background-color: lightgray;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/SMTE_school_logo.svg/2560px-SMTE_school_logo.svg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
.Header {
    text-align: center;
    color: darkcyan;
    font-size: 24px;
    padding: 20px;
    text-shadow: 2px 2px 5px black;
    font-family: Arial, Helvetica, sans-serif;
}
.SMTE {
    color: darkgoldenrod;
    text-align: center;
    font-size: 20px;
    text-shadow: 2.5px 2.5px 4px goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}
.Instruction {
    color: darkslategray;
    text-align: center;
    font-size: 18px;
    text-shadow: 1.5px 1.5px 3px gray;
    font-family: Arial, Helvetica, sans-serif;
}
.Benefits {
    color: darkolivegreen;
    text-align: center;
    font-size: 18px;
    text-shadow: 1.5px 1.5px 3px olive;
    font-family: Arial, Helvetica, sans-serif;
}
.data401 {
    color: darkblue;
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 3px navy;
    font-family: Arial, Helvetica, sans-serif;
}
.thinnaphat {
    color: lightcoral;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Potsawat {
    color: black;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.thitipat {
    color: orange;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Supacharamet {
    color: #CB89F5;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Napat {
    color: blueviolet;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Chettavee {
    color: blue;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Tawisak {
    color: #F0A500;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Supakrit{
    color: #FC05E7;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Kittithat {
    color: #F0A500;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.Singharach {
    color: #A7B85A;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.next-page {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color-scheme: dark;
}